* {
    box-sizing: border-box;
}

body {
     background-image: linear-gradient(to top, #F2C0FF,  #DAE4FE, #ECD37C , #FEC3F1); 
    /* background: 
        linear-gradient(217deg, #F2C0FF),
        linear-gradient(127deg, #DAE4FE),
        linear-gradient(336deg, #ECD37C),
        linear-gradient(50deg #FEC3F1);  */

    color: rgb(235, 235, 235);
    transition: all 2s;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    overflow: hidden;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 25%;
    border: 3px rgb(235, 235, 235) solid;
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: black; 
}

/* section a:hover {
    background-color: orange;
    color: #333;
} */

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}


h3{
    color: black;
}

#sectionOne, #sectionTwo, #sectionThree, #sectionFour{
    color: black; 
    width: 25%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

#sectionOne{
    background-image: linear-gradient(to top, white, #ECD37C); 
     font-family: "Montserrat", sans-serif; 
    font-size: 35px;
    text-transform: uppercase; 
}

#sectionTwo{
    background-image: linear-gradient(to top, white, #9B2EB7);
    font-size: 35px; 
     font-family: "Sacramento", sans-serif; 
}

#sectionThree{
    background-image: linear-gradient(to top, white, #8BA7ED);
    font-size: 50px; 
     font-family: "NanumPen", sans-serif;    
}

#sectionFour{
    background-image: linear-gradient(to top,white, #FFC1EE);
     font-family: "Niconne", sans-serif; 
    font-size: 35px; 
}

h1{
    font-size: 24px; 
    margin-bottom: 0; 
}

h2{
    margin-top: 0; 
    font-size: 14px; 
    margin-bottom: 15px; 
}

h1,h2{
    text-align: center; 
    color: black; 
}


/* #projects{
    background-color: #ECD37C; 
    opacity: 50%;
}

#research{
    background-color: #9B2EB7; 
    opacity: 20%; 
} */