#spotifyLogo{
    width: 7em; 
    position: absolute; 
    top: 0.7em; 
    right: 2em;
}
body{
    background-color: black; 
}
h1,h2,h3,h4,h5,h6,p,a{
    color:white; 
    font-family: "Lato"; 
}

h1,h2{
    text-align: center; 
    text-transform: uppercase;
}
h1{
    font-size: 50px; 
    margin-bottom: 0.2em; 
    margin-top:1em;
}
h2{
    font-size: 30px; 
    margin-top: 0; 
}
h1 span, h2 span{
    color: #1B8A47;
    font-size: 54px; 
}
#main{
    display: flex; 
    padding-bottom: 4em; 
    justify-content: center;
    margin-top: 3em; 
}
#left{
    margin-right: 5em; 
    display: flex; 
    flex-direction: column; 
}
#right{
    margin-left: 5em; 
}
h3, h5{
    font-size: 18px;  
    margin-bottom: 0.5em; 
    margin-top: 0.5em; 
}
h3 span, h5{
    opacity: 50%; 
}
h4{
    text-transform: uppercase; 
    font-size: 14px; 
    opacity: 50%; 
    margin-bottom: 0; 
}
h5{
   font-size: 16px; 
   opacity: 50%;  
   margin-top: 0; 
   margin-bottom: 2em; 
}

#albumBottom{
    width: 4em; 
}
#bottom, footer{
    background-color: #121212; 
    padding: 1.5em; 
    padding-top: 3em;
    display: flex; 
}
#bottom h3, h5{
    font-size: 14px;
}
#bottom-left{
    margin-left: 5em; 
}
input[type="range"] {
    width:50em;
}

.slidecontainer{
    position: absolute; 
    margin-top: 3em;  
    margin-left: 25em; 
}
.fa-home, .fa-search, .fa-book, .fa-step-forward{
    color: white; 
    font-size: 1.5em; 
}

.btn{
    background-color: #121212; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
}

#albumCover{
    width: 20em; 
}

a{
    margin-left: 80em;
    text-decoration: none; 
}

a:hover{
    opacity: 50%; 
}




